<table [ngClass]="{info:true, table:true}">
  <tbody>
    <tr>
      <td [ngClass]="{name:true}">Name</td>
      <td [ngClass]="{value:true}">{{name}}</td>
    </tr>
    <tr>
      <td [ngClass]="{name:true}">Age</td>
      <td [ngClass]="{value:true}">{{age}}</td>
    </tr>
    <tr>
      <td [ngClass]="{name:true}">Job</td>
      <td [ngClass]="{value:true}">{{job}}</td>
    </tr>
  </tbody>
</table>
