.developer-card {
  width: 400px;
  margin: 40px auto;
  padding: 34px 40px 40px;
  border-top: 1px solid rgba(0,0,0,0.1);
  box-shadow: -4px 0 8px rgba(0,0,0,0.3), 4px 0 8px rgba(0,0,0,0.3);
  position: relative;
  background: #fff;

  &:before,
  &:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: -6px;
    width: 51%;
    top: 90%;
    max-width:300px;
    box-shadow: 0 27px 20px rgba(0,0,0,0.3);
    transform: rotate(-3deg);
  }

  &:after {
    transform: rotate(3deg);
    right: -6px;
    left: auto;
  }

  .content {
    border: 1px solid #ddd;
    outline: 1px solid rgba(221, 221, 221, 0.62);
    outline-offset: 24px
  }

  .header,
  .footer {
    padding: 12px 24px;
    background: rgba(221, 221, 221, 0.2);

    &.footer {
      border-top: 1px solid #ddd;
    }
  }
}
